*{
    box-sizing: border-box;
}

#chess-board{
    width: 700px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    background-color: #071d42;
    margin: 0 auto;
    border: 0;
    padding: 50px;
  
}
.square{
    display: inline-block;
    width: 75px;
    height: 75px;
    margin: 0; 
    padding: 0; 
    border: 0; 
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.light{
    background-color: #305090;
    color: black;
}

.dark{
    background-color: #10336f;
    color: white;
}

.capturable{
    background-color: #f1c40f;
}

.attackable{
    background-color: #e74c3c;
}

.capturable:hover, .attackable:hover{
    border: 10px solid #000;
}